/ConsumirWSCorreiosJava/nbproject/private/
/ConsumirWSCorreiosJava/build/
/ConsumoSomaWS/nbproject/private/
/ConsumoSomaWS/build/
/TriangulosConsumoWS/nbproject/private/
/TriangulosConsumoWS/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/